* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #cecaf0;
  min-height: 100vh;
  border: 10px solid #1d1e4c;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header h1 {
  font-size: 50px;
  font-weight: bold;
  color: #1d1e4c;
  text-transform: uppercase;
}

.header h4 {
  font-size: 30px;
  text-align: end;
}

.profile_image {
  border-radius: 50%;
  overflow: hidden;
}

.profile_image img {
  border: 1px solid rgb(10, 10, 10);
  width: 320px;
  height: 320px;
}

.about {
  margin-top: 50px;
}

.about h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}

.about p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: justify;
}

.bio {
  margin: 50px 0;
}

.bio h3 {
  margin-bottom: 20px;
}

.bio ul {
  margin-left: 50px;
}

.bio li {
  margin-bottom: 15px;
}

.bio h2 {
  display: inline-block;
  margin-left: 100px;
  margin-top: 50px;
}

footer {
  margin: 50px 0;
}

footer p {
  text-align: end;
}

footer a {
  text-decoration: none;
  color: blue;
}

button {
  margin-left: 330px;
  cursor: pointer;
  font-size: 15px;
  color: rgb(56, 38, 220);
  padding: 5px;
  border: 2px solid rgb(73, 33, 204);
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header h4 {
    margin-top: 20px;
    text-align: center;
  }

  .profile_image {
    margin-bottom: 20px;
  }

  .profile_image img {
    width: 200px;
    height: 200px;
  }

  .bio h2 {
    margin-left: 0;
    margin-top: 30px;
  }

  button {
    margin-left: 0;
    margin-top: 20px;
  }
}